// colors
$black: #000;
$white: #fff;
$light-text: #aeaeae;
$grey: #999999;
$light-grey: #ececec;
$dark-grey: #5f5f5f;
$forest-green: #439b83;
$mint-green: #95efd3;
$orange: #f06500;
$red: red;
