@import "../../../theme/variables.scss";

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
    thead {
        tr {
            th {
                padding: 25px 0px 25px 0px !important;
                color: $light-text;
                font-weight: 600;
            }
            border-radius: 1px !important;
        }
    }
    tbody {
        tr {
            td {
                padding: 30px 0px 30px 0px !important;
                color: $dark-grey;
                font-weight: 500 !important;
                vertical-align: middle;
            }
            background-color: $white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 5px !important;
        }
    }
}

.rotate_box {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    transform: rotate(-90deg);
    width: 80px;
    font-size: 12px;
    margin-left: -20px;
    // position: absolute;
}

.Online {
    background-color: $light-grey;
}

.Online {
    background-color: $light-grey;
}

.Manual {
    background-color: $orange;
    color: $white;
}

.Invoice {
    background-color: $black;
    color: $white;
}

.color_green {
    color: $forest-green !important;
}

.Paid {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: $mint-green !important;
    display: inline-block;
}

.In-Progress {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: $orange !important;
    display: inline-block;
}

.Failed {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: $red !important;
    display: inline-block;
}

.flag_pic {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.card_pic {
    width: 30px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
    margin-bottom: 4px;
}

.light-text {
    color: $light-text;
}

.bold {
    font-weight: 600;
}

.page_circle {
    color: $black;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.page_circle_active {
    background-color: $forest-green;
    color: $white;
}

.pagination {
    display: flex;
    align-items: center;
}
